@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
        .container1{
            background-color: #a2d5ab;
            width: 25%;
            position: relative;
            max-width: 480px;
            display:inline-flex;
        }
        .container2{
            background-color: aqua;
            max-width: 1440px;
            display: inline-flex;
        }
        .main-header{
            background-color: #3b7097;
            color:darkgreen;
            height: 70px;
            position: fixed;
            width: 100%;
        }
        .main-headertext{
            color: white;
            font-family:'Courier New';
            font-size: 40px;
            transform: translateY(20%);
            margin-left: 25px;
            text-shadow:
            1px 1px 0 #000;
        }
        /* green: a9d09e
        dark blue: 3b7097
        light blue: 75bde0
        sand: f6e2bc*/
        .button1 {
            align-items: center;
            appearance: none;
            background-color: #39AEA9;
            background-size: calc(100% + 20px) calc(100% + 20px);
            border-radius: 125px;
            border-width: 2px;
            border-color: black;
            box-shadow: none;
            box-sizing: border-box;
            color: #efeadd;
            cursor: pointer;
            display: inline-flex;
            font-family: "Roboto";
            font-size: 1rem;
            justify-content: center;
            line-height: 1.5;
            padding: 10px 40px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: background-color .2s,background-position .2s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: top;
            white-space: nowrap;
            margin-left: 10px;
            margin-right: 10px;
            transform: translateY(25%);
        }

/* CSS */
        .button-28 {
            appearance: none;
            background-color: transparent;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin-left: 10px;
            margin-right: 10px;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 36px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            will-change: transform;
            transform: translateY(5%);
        }

        .button-28:disabled {
            pointer-events: none;
        }

        .button-28:hover {
            color: #fff;
            background-color: #1A1A1A;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
        }

        .button-28:active {
            box-shadow: none;
            transform: translateY(0);
        }
/* CSS */
        .button-86 {
            all: unset;
            font-family: "Roboto";
            width: 100px;
            height: 30px;
            font-size: 16px;
            background: transparent;
            border: none;
            position: relative;
            color: white;
            cursor: pointer;
            z-index: 1;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            display: inline-flex;
            margin-left: 25px;
            margin-right: 30px;
            transform: translateY(15%);
        }

        .button-86::after,
        .button-86::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -99999;
        transition: all .4s;
        }

        .button-86::before {
        transform: translate(0%, 0%);
        width: 100%;
        height: 100%;
        background: #28282d;
        border-radius: 10px;
        }

        .button-86::after {
        transform: translate(10px, 10px);
        width: 35px;
        height: 35px;
        background: #ffffff15;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 50px;
        }

        .button-86:hover::before {
        transform: translate(5%, 20%);
        width: 110%;
        height: 110%;
        }

        .button-86:hover::after {
        border-radius: 10px;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        }

        .button-86:active::after {
        transition: 0s;
        transform: translate(0, 5%);
        }

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  left: 25%;
  margin: 15px;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
        
        .sidenav {
        width: 25%;
        max-width: 480;
        position: fixed;
        z-index: 1;
        top: 70px;
        bottom: 0px;
        left: 0;
        background-color: #75bde0;
        overflow-x: hidden;
        padding-top: 20px;
        }

        .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        }

        .sidenav a:hover {
        color: #f1f1f1;
        }

        .sidenav .search-container {
        
        text-align: center;
        }

        .sidenav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        }

        .sidenav .search-container button {
        text-align: center;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        }

        .sidenav .search-container button:hover {
        background: #ccc;
        }

        .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        border: none;
        background-color: #a9d09eb3;
        width:100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        margin-top: 7px;
        margin-bottom: 7px;
        font-family: "Roboto";
        }

        /* On mouse-over */
        .sidenav a:hover, .dropdown-btn:hover {
        color: black;
        }

        .active {
            background-color: #a2d5ab;
            color: black;
        }

/* Dropdown container (hidden by default).*/
        .dropdown-container {
            display: none;
            background-color: #3b7097;
            padding-left: 8px;
            font-family: "Roboto";
        }

        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }
.side-text{
    font-size: 60;
    text-align: center;
    min-height: 25px;
    color: white;
    font-family: "Roboto";
    text-shadow:
    1px 1px 0 #000;  
}
.box {
    width: 75%;
    max-width: 1440;
    position: fixed;
    z-index: 1;
    top: 70px;
    bottom: 0px;
    left: 25%;
    background-color: #d3e7ee;
    overflow-x: hidden;
}
.listing-header{
    font-family: "Roboto";
    font-size: 28px;
    color: #c6a477;
    text-shadow:
    1px 1px 0 #000;  
}
.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 380px 380px 380px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: #dcede6;
    padding: 10px;
  }
  .grid-container > div {
    background-color: #f6f1f1;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height:260px;
    width: 380px;
  }
  .small-text{
    font-family: "Roboto";
    font-size:smaller;
    margin-top: 0%;
    margin-bottom: 5px;
  }
.button-81 {
    margin-top: 0%;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 30px;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}
