@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.box {
    margin: auto;
    width: 100%;
    padding-top: 10px;
    max-width: 1440;
    background-color: #d3e7ee;
}
.nametext{
    text-align: center;
    font-family: "Roboto";
    font-size: 32px;
    color: #c6a477;
    transform: translateY(-70%);
}
.product-imgbox{
    position: absolute;
    left: 20%;
    width:40%;
    height:55%;
    background-position: center;
    background-color: blueviolet;
}
.product-details{
    position: absolute;
    right: 20%;
    width: 19%;
    height: 55%;
    background-position: center;
    background-size: cover;
    background-color: cornflowerblue;
}

.product-description{
    position:absolute;
    left:20%;
    bottom: 2%;
    width:60%;
    height:25%;
    background-position: center;
    background-size: cover;
    background-color: firebrick;
}
.sponsor-banner{
    position: absolute;
    height: 80%;
    width: 19%;
	background-color: #f6e2bc;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:80vh;
}

#right-sponsor{
    background-image: url(hack-banner.jpg);
}

#left-sponsor{
    background-image: url(google-cloud-banner.png);
}