@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.box {
    margin: auto;
    width: 100%;
    padding-top: 10px;
    max-width: 1440;
    background-color: #3b7097;
}
.nametext{
    text-align: center;
    font-family: "Roboto";
    font-size: 32px;
    color: #fff;
    transform: translateY(-70%);
}
.product-imgbox{
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 30%;
    width: 500px;
    height: 495px;
    background-position: center;
    background-color: white;
}
.product-details{
    font-size: large;
    position: absolute;
    right: 20%;
    width: 19%;
    height: 50%;
    background-position: center;
    background-size: cover;
    font-family:"Roboto";
    background-color: #aac9ce;
    padding-top: 10px;
    padding-left: 10px;
}

.main-headertext{
    color: white;
    font-family:'Courier New';
    display: inline-flex;
    font-size: 40px;
    transform: translateY(20%);
    z-index: 1;
    margin-left: 25px;
    text-shadow:
    1px 1px 0 #000;
}

.info {
    margin:5px;
}

.product-description{
    font-size: large;
    position:absolute;
    left:20%;
    bottom: 4.55%;
    width:60%;
    height:25%;
    background-position: center;
    background-size: cover;
    font-family:"Roboto";
    background-color: #aac9ce;
    padding-top: 10px;
    padding-left: 10px;


}
.sponsor-banner{
    position: absolute;
    height: 80%;
    width: 19%;
	background-color: #aac9ce;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:80vh;
}

#right-sponsor{
    background-image: url(hack-banner.jpg);
}

#left-sponsor{
    background-image: url(google-cloud-banner.png);
}