@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.box {
    width: 75%;
    max-width: 1440;
    position: fixed;
    background-color: #d3e7ee;
    overflow-x: hidden;
    padding-top: 20px;
    margin: auto;
}